<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>v-for 数组遍历</title>
</head>
<body>


<div id="app">
    <p>---------- 遍历数组 ---------- </p>

    <ul>
        <li v-for="p in personArr ">{{p}}</li>
    </ul>

    <ul>
        <li v-for="(p,index) in personArr "> {{index}}---- {{p}}</li>
    </ul>

    <p>---------- 遍历数组(其中是对象) ---------- </p>

    <ul>
        <li v-for="(p,index) in persons "> {{index}}---- {{p}}</li>
    </ul>

    <ul>
        <li v-for="(p,index) in persons "> {{index}}---- {{p.name}} ---- {{p.age}} ---- {{p.address}}</li>
    </ul>
</div>


<script src="../js/vue.js"></script>
<script>

    const app = Vue.createApp({
        data(){
            return{
                personArr:['clay','tim','tom','jane'],
                persons:[
                    {name:'clay',age:'22',address:'上海'},
                    {name:'tim',age:'23',address:'北京'},
                    {name:'tom',age:'24',address:'深圳'},
                    {name:'jane',age:'25',address:'广州'},
                ]

            }
        }
    }).mount('#app');

</script>

</body>
</html>