<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>v-for-案例</title>

    <style>
        #app{
            text-align: center;
        }
        ul li{
            line-height: 30px;
            list-style: none;
        }
    </style>
</head>
<body>

<div id="app">
    <h3>搜索列表</h3>
    <!-- 使用 v-model 使输入框 和属性之间进行一个双向的绑定 -->
    <input placeholder="请输入搜索姓名"  type="text" v-model="searchStr">
    <div>
        <h3>排序</h3>
        <button @click="setOrderType(2)">年龄升序</button>
        <button @click="setOrderType(1)">年龄降序</button>
        <button @click="setOrderType(0)" >还原</button>
    </div>

    <ul>
<!--       绑定 key 做唯一的标识符 diff 算法就能正确的识别节点，找到正确的位置插入新的节点
           避免未知的错误
           最好使用字符串，或数值类型等基本数据结构
-->
        <li v-for="(p,index) in filterPersons" :key="id">
            {{index+1}}--姓名：{{p.name}}--性别：{{p.sex}}--年龄:{{p.age}}--电话：{{p.phone}}
        </li>
    </ul>
</div>


<script src="../js/vue.js"></script>
<script>

    const app = Vue.createApp({
        data(){
            return{
                persons:[
                    {name:'张三',sex:'男',age:'38',phone:'1234894684'},
                    {name:'李四',sex:'男',age:'12',phone:'1234894684'},
                    {name:'王五',sex:'男',age:'33',phone:'1234894684'},
                    {name:'钱一',sex:'男',age:'38',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'28',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'33',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'48',phone:'1234894684'},
                    {name:'张乐',sex:'男',age:'13',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'43',phone:'1234894684'},
                    {name:'张静',sex:'女',age:'18',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'18',phone:'1234894684'},
                    {name:'张好',sex:'男',age:'19',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'23',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'28',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'13',phone:'1234894684'},
                    {name:'张三',sex:'女',age:'18',phone:'1234894684'},
                    {name:'李三',sex:'男',age:'13',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'28',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'13',phone:'1234894684'},
                    {name:'李娜',sex:'女',age:'18',phone:'1234894684'},
                    {name:'张三',sex:'男',age:'28',phone:'1234894684'},
                ],
                // 关连输入框
                searchStr:'',
                // flag  0->默认 1-> 升序 2->降序
                orderType:0,
            }
        },
        // 计算属性
        computed:{
            filterPersons(){
                // 1. 取出相关属性
                const{persons,searchStr,orderType} = this;
                // 2. 定义过滤数组
                let arr = [...persons];
                // 3. 根据条件过滤
                if(searchStr.trim()){
                    arr = persons.filter((p)=>{
                        return p.name.indexOf(searchStr) !== -1;
                    })
                }
                // 4. 排序
                if(orderType){
                    arr.sort((p1,p2)=>{
                        console.log(p1,p2);
                        if(orderType === 1){ // 降序
                            return p2.age - p1.age;
                        }else{
                            return p1.age - p2.age;
                        }
                    });
                }
                // 5. 返回过滤后的数组
                return arr;
            }
        },
        methods:{
            setOrderType(orderType){
                this.orderType = orderType;
            }

        }

    }).mount('#app');

</script>
</body>
</html>